.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  .searchInput {
    flex-grow: 1;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    outline: none;
    padding: 8px;
  }
}
